<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
   
  </head>
  <body>
    <div class='row py-5 px-3' >
    <div class='col-sm-6 '>
        <h1>Hello, world!</h1>
    </div>
    <div class='col-sm-3'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='date' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-3'>
        <a href="./add_ex_rate">Add new</a>
    </div>
   </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">currince name</th>
            <th scope="col">buy</th>
            <th scope="col">sell</th>
            <th scope="col">curriency</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
            <% data.forEach(function(curriency){%>
               
          <tr>
            <th scope="row"> <%=curriency.ex_id %></th>
            <td> <%= curriency.cur_name %></td>
            <td><%= curriency.cur_buy %></td>
            <td><%= curriency.cur_sell %></td>
            <td><%= curriency.cur_name %></td>
            <td><button >delete</button> <a href="./update_ex_rate/<%=curriency.ex_id%>" >update</a></td>
          </tr>
          <% })%>
        </tbody>
      </table>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
//         $('#datetimepicker1').datepicker({
//     format: 'mm/dd/yyyy',
//     startDate: '-3d'
// });
    </script>
  </body>
</html>